<md-card>
  <md-card-title>
    Verschlüsselung / FAQ
  </md-card-title>
  <md-card-subtitle>
    Was Sie wissen sollten.
  </md-card-subtitle>
  <md-card-content>
    Im Kern wird das One Time Pad Verfahren genutzt. Deswegen gibt es derzeit auch eine begrenzte Nachrichtengröße.<br/>
    Die Datei wird nicht hochgeladen, lediglich lokal etwas zerhackt, verschoben und wieder zusammengesetzt.
    Die einzigen Daten die über das Internet übertragen werden, ist die endgültig verschlüsselte Nachricht.
  </md-card-content>
  <md-card-content>
    Das Gitlab Repository ist unter <a href="https://gitlab.com/Skyl0/OTP_Sky/" target="_new">https://gitlab.com/Skyl0/OTP_Sky/</a> einzusehen.<br/>
    Der Source Code ist frei erhältlich und darf ohne Nachfrage kopiert und eingesetzt werden. <br/>
    Link zum FileScrambler (Key Generator):  <a href="https://gitlab.com/Skyl0/OTP_Sky/blob/master/src/app/bit-operator.service.ts" target="_new"> https://gitlab.com/.../bit-operator.service.ts</a>
  </md-card-content>
</md-card>
