<!--The whole content below can be removed with the new code.-->
<md-card>
  <md-card-title>
    Willkommen
  </md-card-title>
  <md-card-subtitle>
    Schön das Du vorbeischaust.
  </md-card-subtitle>
  <md-card-content>
    Willkommen auf meiner kleinen Angular 2 One Time Pad Umsetzung. Diese Seite ist noch im Aufbau.<br/>
    <small><b>Disclaimer! Dies ist eine Software im Alpha-Stadium, bitte keine wichtigen Daten verschlüsseln.<br/>
    Derzeit werden die Daten noch nicht nach dem Lesen gelöscht, soll aber in Version 0.2 bereits vorhanden sein.</b></small>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>
    Kurze Anleitung
  </md-card-title>
  <md-card-content>
    Um erfolgreich eine Nachricht (max. 1000 Zeichen) zu übermitteln, benötigst du und dein Gegenüber lediglich Internetkonnektivität
    und eine gemeinsam vereinbarte <b>Schlüsseldatei</b>. Dies kann jede x-beliebige Datei sein, wichtig ist nur, dass keiner weiss
    um welche Datei es sich handelt.<br/>
    Um besonders sicher zu gehen, solltet ihr die Datei nicht über das Internet verschicken.
  </md-card-content>
  <md-card-content>
    <button md-button routerLink="/send">Neue Nachricht verfassen</button>
  </md-card-content>
</md-card>
