<!--The whole content below can be removed with the new code.-->
<md-card>
  <md-card-title>
    Nachricht empfangen
  </md-card-title>
  <md-card-content>
    Geben Sie hier die Datei an, welche Sie im Vorfeld von ihrem Gegenüber erhalten haben.
    <label>Datei zum Entschlüsseln</label><br/>
    <input type="file" name="secret_file" (change)="changeListener($event)"/>
    <br/>

  </md-card-content>
  <md-card-content>
    <button md-button (click)="readMsg()">Nachricht empfangen</button>
  </md-card-content>

</md-card>

<md-card *ngIf="message.length > 0">
  <md-card-title>
    Ihre Nachricht
  </md-card-title>
  <md-card-subtitle>
    Bitte Fenster danach schließen.
  </md-card-subtitle>
  <md-card-content>
    {{message}}

  </md-card-content>
  <button md-button routerLink="/send">Neue Nachricht verfassen</button>
</md-card>

