<md-card>
  <md-card-title>
    Fast fertig...
  </md-card-title>
  <md-input-container>
    <label>Dein Link</label><br/>
    <input type="text" mdInput name="link" class="textlink" [(ngModel)]="link" focused (click)="copyOnClick()"/>
  </md-input-container>
  <md-card-content>
    Diesen Link kannst du nun an deinen Empfänger schicken.<br/>
    Wollen Sie eine weitere Nachricht verschicken?

  </md-card-content>
  <button md-button routerLink="/send">Neue Nachricht</button>
</md-card>
