<!--<div class="header"> -->
  <button md-button [mdMenuTriggerFor]="menu">
    Menü
  </button>
  <md-menu #menu="mdMenu">
    <button routerLink="/" md-menu-item>Startseite</button>
    <button routerLink="/send" md-menu-item>Neue Nachricht</button>
    <button routerLink="/faq" md-menu-item>FAQ / Security</button>
  </md-menu>
  <div class="title">SuperSecurePad 0.1</div>
<!--</div> -->
<!--<div class="body"> -->
  <router-outlet></router-outlet>
<!--</div>-->
