/* You can add global styles to this file, and also import other style files */
body {
  background-color: #b0b0b0;
}

.mat-card {
  /* width: 800px;
  margin: 0 auto; */
}

.mat-card-title, .mat-card-subtitle {
  /* text-align: right; */
}

.title {
  position: absolute;
  right: 0px; top: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  padding: 5px;
  height: 36px;
  line-height: 36px;
}

.header {
 /* position: relative; */
  margin: 0px !important;
  padding: 5px;
  background-color: #fff;
}

.body {
  margin-top: 20px;
}

textarea.textarea_msg {
  padding: 20px !important;
  min-width: 400px;
  min-height: 300px;
}

input.textlink {
  min-width: 400px;
}
