<!--The whole content below can be removed with the new code.-->
<md-card>
  <md-card-title>
    Neue Nachricht
  </md-card-title>
  <md-card-content>
    Geben Sie hier eine Nachricht ein.
  </md-card-content>
  <md-card-content>
    <md-input-container>
      <textarea mdInput name="msg" class="textarea_msg" [(ngModel)]="msg" (focus)="deleteMsg()" (keyup)="updateCharCount()" required focused maxlength="1000"></textarea>
    </md-input-container>
    <span style="display: block; font-size: 0.9em;">{{length}} / 1000</span>
    <br/>
    <label>Datei angeben (wird nicht hochgeladen)</label><br/>
    <input type="file" name="secret_file" (change)="changeListener($event)"/><br/>

  </md-card-content>
  <md-card-content>
    <button md-button (click)="sendMsg()">Nachricht senden</button>
    <md-progress-spinner
      *ngIf="spinnerOn"
      class="spinner"
      [color]="color"
      [mode]="mode"
      [value]="value">
    </md-progress-spinner>
  </md-card-content>
</md-card>
